.friendMessage {
    padding: 1rem;
}

.friendImageAndText {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    margin-left: 0.8rem;
    padding: 0.5rem;
    border-radius: 15px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    z-index: -1;
    border: 15px solid transparent;
    border-right: 15px solid #F5F7FB;
    border-bottom: 15px solid #F5F7FB;
    box-shadow: 0 1px 2px 0 #1D21261A;
}

.friendName {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.friendMessageText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
